.leftContainerBlogView{
    position: sticky !important;
    top: 18;
    left: 0;
}

@media screen and (max-width: 1250px) {
     .suggestedBlogs{
        display: none;
     }
     .mainBlogView{
        width: 100% !important;
     }

}

@media screen and (max-width: 850px) {
   .leftContainerBlogView{
    display: none;
   }
    .mainBlogView{
       width: 100% !important;
    }

}

